<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Framework">
  <test thread-count="5" name="Search Flight Test">
    <classes>
      <class name="makemytriptestcases.FlightPageTest"/>
      <class name="makemytriptestcases.TestSetup"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
